/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:500');

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

.wrap-all {
    background-color: #222;
    color: #bbb;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding: 20px 20px;
}

.outer-wrap {
    width: 100%;
}

.region-flash img {
    width: 100%;
}

.region-header {
    display: flex;
}

.site-logo {
    display: none;
}

.site-logo-text > a {
    text-decoration: none;
    color: inherit;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.my-navbar {
    display: flex;
}

.my-navbar li {
    list-style: none;
}

.my-navbar > li > a {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
}

.my-navbar > li > a:hover {
    color: #699C17;
}

.rm-submenu-button {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

h1 {
    border-bottom: 5px solid #41561F;
}

.right {
    float: right;
}

.outer-wrap-main {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.figure {
    margin: 20px 0 20px 20px;
}

.figure figcaption p {
    font-size: 14px;
    margin: 0;
}

.author-byline {
    border: 3px solid #41561F;
    padding: 20px;
    margin: 20px 0;
}

.author-byline::after {
    content: "";
    clear: both;
    display: table;
}

.byline-figure {
    margin: 0;
    float: left;
    width: 100px;
    margin-right: 20px;
}

.byline-figure > figcaption > p {
    font-size: 14px;
    margin: 0;
    text-overflow: wrap;
}

.author-byline > p {
    margin: 0;
}

.byline-name {
    font-family: "Oswald", sans-serif;
}

.outer-wrap-footer {
    margin-top: 100px;
    font-size: 16px;
}

.columns {
    display: flex;
}

.column {
    margin: 0 20px;
}

.site-footer {
    font-size: 14px;
    text-align: center;
}
