@import "kmom04.less";

/*
@bgColorBody: #B5F2FF;
@bgColorBodyAlt: #C26A13;
@colorBody: #222;
@accentColor1: #FF8419;
@accentColor2: #FF7600;
*/

@bgColorBody: #7BFF5B;
@bgColorBodyAlt: #C26A13;
@colorBody: #222;
@accentColor1: #FF8419;
@accentColor2: #FF7600;
